@use "./sass/navbar";
@use "./sass/asideLeft";
@use "./sass/postCard";
@use "./sass/footer";


@use "./sass/asideRight";


* {
  box-sizing: border-box;
  margin: 0;
}
.navbar {
  height: 50px;
  background-color: white;
  // background-color: #f5f5f5;
}
.navbar__ctn--img {
  width: 50px;
  height: 40px;
}
.navbar__ctn--search {
  input {
    width: 50%;
  }
}
.navbar__ctn--btn {
  text-align: end;
  button {
    border-color: rgb(64, 76, 220);
    color: rgb(64, 76, 220);
    &:hover {
      background-color: rgb(64, 76, 220);
      color: white;
      text-decoration: underline white;
    }
  }
}
.navbar__ctn--bell {
  text-align: center;
}
.navbar__ctn--user {
  img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
}

/* part of the main*/

.container__imgUser {
  border-radius: 100%;

  max-width: 40px;
  max-height: 40px;
}

.container__two--title {
  margin-left: 25px;
  padding-top: 10px;
}

.container__crayons-tag {
  padding-left: 20px;
}

.container__imgtext {
  display: flex;
}
.container__imgtext--name {
  height: 2px;
  padding-left: 5px;
  font-weight: bold;
}

.icons{
padding-top: 10px;
}

.btn{
  text-align: right;
  font-size:10px;

}
.reactions{

  display: inline;
  font-size:10px;;
  img{
    display:inline; 
  }
  p{display: inline;}
}

.comments{
  display: inline;
  font-size:  10px;
  img{
    display:inline; 
  }
  p{display: inline;}
}

/*Segunda Card*/



