.navbar {
  background-color: white;
  padding-left: 16%;
}
.navbar .navbar__ctm--movil {
  display: none;
}
.navbar .navbar__ctn--img img {
  height: 40px;
  height: 40px;
}
.navbar .navbar__ctn--input {
  width: 600px;
}
.navbar .navbar__ctn--input input {
  width: 40%;
}

.navbar__ctn--listCTN {
  margin-right: 10%;
}

.ctn--listCTN-button {
  text-align: center;
  font-size: 7px;
  border: solid;
}
.ctn--listCTN-button button {
  min-width: 100px;
  max-height: 38px;
  font-size: 12px;
  border-color: rgb(59, 73, 223);
  color: rgb(59, 73, 223);
}
.ctn--listCTN-button button:hover {
  background-color: rgb(59, 73, 223);
  color: white;
}

.ctn--listCTN-bell {
  text-align: left;
}

.ctn--listCTN-profile {
  text-align: left;
}

.mobile-menu {
  display: none;
}

.navbar__mobile--search {
  display: none;
}

.navbar__mobile--bell {
  display: none;
}

.navbar__mobile--planta {
  display: none;
}

@media (max-width: 768px) {
  .navbar__mobile--search {
    margin-left: 40%;
    display: inline;
  }
  .navbar__mobile--search img {
    height: 20px;
    width: 20px;
  }
  .navbar__mobile--bell {
    display: inline;
  }
  .navbar__mobile--bell img {
    height: 20px;
    width: 20px;
  }
  .navbar__mobile--planta {
    display: inline;
  }
  .navbar__mobile--planta img {
    height: 20px;
    width: 20px;
  }
}
@media (max-width: 480px) {
  .navbar {
    text-align: left;
  }
  .navbar .ctn-fluid {
    justify-content: flex-start;
  }
  .navbar .navbar__ctm--movil {
    display: contents;
    border: solid black;
  }
  .desplegable-card {
    max-width: 250px;
  }
  .btn__mobil {
    margin-left: -20%;
  }
  .navbar__ctn--img img {
    height: 30px;
    height: 30px;
  }
  .nav__left--top {
    text-align: left;
    padding: 0;
  }
  .nav__left--top ul {
    list-style: none;
  }
  .nav__left--top ul li {
    margin: 6%;
  }
  .navbar__mobile--search {
    margin-left: 40%;
    display: inline;
  }
  .navbar__mobile--search img {
    height: 20px;
    width: 20px;
  }
  .navbar__mobile--bell {
    display: inline;
  }
  .navbar__mobile--bell img {
    height: 20px;
    width: 20px;
  }
  .navbar__mobile--planta {
    display: inline;
  }
  .navbar__mobile--planta img {
    height: 20px;
    width: 20px;
  }
}
@media (max-width: 320px) {
  .navbar__mobile--search {
    margin-left: 25%;
    display: inline;
  }
  .navbar__mobile--search img {
    height: 20px;
    width: 20px;
  }
  .navbar__mobile--bell {
    display: inline;
  }
  .navbar__mobile--bell img {
    height: 20px;
    width: 20px;
  }
  .navbar__mobile--planta {
    display: inline;
  }
  .navbar__mobile--planta img {
    height: 20px;
    width: 20px;
  }
}
.main {
  background-color: rgb(245, 245, 245);
}

.aside__left {
  padding: 0;
  max-width: 35%;
  border: solid;
}

.left--top {
  text-align: left;
  padding: 0;
}
.left--top ul {
  list-style: none;
}
.left--top ul li {
  margin: 6%;
}

.left--mid {
  margin-top: 10%;
}
.left--mid p {
  margin-left: 15%;
  font-weight: bold;
}
.left--mid ul {
  list-style: none;
}
.left--mid ul li {
  margin: 4%;
}

.left--img {
  width: 20px;
  height: 20px;
}

.left--menu {
  text-decoration: none;
  color: black;
}

.left--li {
  height: 30px;
  width: 250px;
}
.left--li:hover {
  background-color: rgba(59, 73, 223, 0.397);
  border-radius: 5px;
}

.container-logs {
  padding-left: 8%;
  margin-top: 15%;
}

.container-tags {
  margin-top: 10%;
}
.container-tags p {
  text-align: left;
}
.container-tags img {
  text-align: right;
}

.container-left-card .container-left-card1 {
  margin-top: 25%;
  width: 15rem;
  height: 16rem;
  margin-left: auto;
  margin-right: auto;
}
.container-left-card .container-left-card1 h5 {
  margin-top: 1%;
  font-weight: bolder;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}
.container-left-card .container-left-card1 P {
  margin-top: 8%;
  font-size: 25PX;
  font-weight: bold;
}
.container-left-card .container-left-card1 a {
  margin-top: 8%;
  font-size: 20px;
  color: blue;
  text-decoration: none;
  font-weight: bold;
}
.container-left-card .container-left-card2 {
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}
.container-left-card .container-left-card2 img {
  padding: 5%;
}
.container-left-card .container-left-card2 h5 {
  font-weight: bolder;
  font-size: 25px;
}
.container-left-card .container-left-card2 a {
  text-decoration: none;
  font-weight: bolder;
  color: blue;
}

@media (max-width: 480px) {
  .aside__left {
    display: none;
  }
}
.card-img-top {
  border-radius: 10px;
  padding-bottom: 10px;
}

.container__imgUser {
  border-radius: 100%;
  max-width: 40px;
  max-height: 40px;
  cursor: pointer;
}

.container__two--title {
  margin-left: 25px;
  padding-top: 10px;
}

.container__titleSmall {
  font-family: sans-serif;
  text-decoration: none;
  color: #000;
}

.container__crayons-tag {
  padding-left: 20px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.container__crayons-tag :hover {
  color: #000ff0;
}

.container__imgtext {
  display: flex;
}

.container__imgtext--name {
  height: 2px;
  padding-left: 5px;
  font-family: sans-serif;
  cursor: pointer;
}

.icons {
  padding-top: 10px;
}

.btn {
  text-align: right;
  font-size: 10px;
}

.reactions {
  display: inline;
  font-size: 13px;
  font-family: sans-serif;
  cursor: pointer;
}
.reactions img {
  display: inline;
}
.reactions p {
  display: inline;
}
.reactions :hover {
  color: #000ff0;
}

.container__three--comment {
  display: inline;
  font-size: 13px;
  font-family: sans-serif;
  cursor: pointer;
}
.container__three--comment img {
  display: inline;
}
.container__three--comment p {
  display: inline;
}
.container__three--comment :hover {
  color: #000ff0;
}

@media (max-width: 320px) {
  .container__imgtext--name {
    height: 1px;
    padding-left: 4px;
    font-family: sans-serif;
    font-size: 13px;
    cursor: pointer;
  }
  .container__three--comment {
    display: inline;
    font-size: 13px;
    font-family: sans-serif;
  }
  .container__three--comment img {
    display: inline;
  }
  .container__three--comment p {
    display: none;
  }
  .container__three--comment :hover {
    color: #000ff0;
  }
  .reactions {
    display: inline;
    font-size: 13px;
    font-family: sans-serif;
    cursor: pointer;
  }
  .reactions img {
    display: inline;
  }
  .reactions p {
    display: none;
  }
  .reactions :hover {
    color: #000ff0;
  }
}
.aside {
  width: 300px;
  font-size: 18px;
}

.aside__div--img {
  width: auto;
  height: auto;
}

.aside__div--title {
  text-align: start;
  font-size: 25px;
}

.aside__content {
  width: auto;
}

.aside__section {
  width: auto;
}

/*@use "./sass/postCard";
@use "./sass/postCard";*//*# sourceMappingURL=style.css.map */