* {
  box-sizing: border-box;
  margin: 0;
}
.navbar {
  height: 50px;
  background-color: white;
  // background-color: #f5f5f5;
}
.navbar__ctn--img {
  width: 50px;
  height: 40px;
}
.navbar__ctn--search {
  input {
    width: 50%;
  }
}
.navbar__ctn--btn {
  text-align: end;
  button {
    border-color: rgb(64, 76, 220);
    color: rgb(64, 76, 220);
    &:hover {
      background-color: rgb(64, 76, 220);
      color: white;
      text-decoration: underline white;
    }
  }
}
.navbar__ctn--bell {
  text-align: center;
}
.navbar__ctn--user {
  img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
}

/* part of the main*/

.container__imgUser {
  border-radius: 100%;

  max-width: 40px;
  max-height: 40px;
}

.container__two--title {
  margin-left: 25px;
  padding-top: 10px;
}

.crayons-tag {
  padding-left: 30px;
}

.container__imgtext {
  display: flex;
}
.container__imgtext--name {
  height: 2px;
  padding-left: 5px;
}

.card-text {
  border: 1px solid green;
}
.d-flex {
  margin-left: 25px;
  padding-top: 10px;
}

.btn {
  padding-bottom: 5px;
}

.conteiner__four {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  border: 1px solid yellow;
 padding-right: 150px;
}

.save{
  height: 30px;
  ;
}



