.asideRight {
  width: 200px;
  font-size: 13px;
  a:link, a:visited,  a:hover, a:active
  {
      color: #000000;
      text-decoration: none;
  }
  a:hover{
    color: #000ff0;
  }
  
}
.card{
  border: none;
}
.aside__div--img {
  width: auto;
  height: auto;
}
.aside__div--title {
  text-align: start;
  font-size: 20px;
}
.aside__content {
  width: auto;
}
.aside__section {
  width: auto;
}
h3 {
  font-size: 18px;
}
.Create {
  text-align: center;
}

@media (max-width: 1024px) {
  .asideRight {
    width: 200px;
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .asideRight {
    display: none;
  }
}
