.aside{
  width:300px;
  font-size: 18px;
}
.aside__div--img{
  width: auto;
  height: auto;
}
.aside__div--title{
  text-align: start;
  font-size: 25px;
}
.aside__content{
  width: auto;
}
.aside__section{
  width: auto;
}

@media (max-width: 1024px) {
  .aside{
    width:200px;
  }
}

@media (max-width: 768px) {
  .aside{
    display: none;
  }
}