.asideRight{
  width:200px;
  font-size: 13px;
}
.aside__div--img{
  width: auto;
  height: auto;
}
.aside__div--title{
  text-align: start;
  font-size: 20px;
}
.aside__content{
  width: auto;
}
.aside__section{
  width: auto;
}
h3{
  font-size: 18px;
}
.Create{
  text-align: center;
}

@media (max-width: 1024px) {
  .asideRight{
    width:200px;
  }
  
}

@media (max-width: 768px) {
  .asideRight{
    display: none;
  }
}