.card-img-top {
  border-radius: 10px;
  padding-bottom: 10px;
}
.container__imgUser {
  border-radius: 100%;
  max-width: 40px;
  max-height: 40px;
  cursor: pointer;
}
.container__two--title {
  margin-left: 25px;
  padding-top: 10px;
}
.container__titleSmall {
  font-family: sans-serif;
  text-decoration: none;
  color: #000;
}
.container__crayons-tag {
  padding-left: 20px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  :hover {
    color: #000ff0;
  }
}
.container__imgtext {
  display: flex;
}
.container__imgtext--name {
  height: 2px;
  padding-left: 5px;
  font-family: sans-serif;
  cursor: pointer;
}
.icons {
  padding-top: 10px;
}
.btn {
  text-align: right;
  font-size: 10px;
}
.reactions {
  display: inline;
  font-size: 13px;
  font-family: sans-serif;
  img {
    display: inline;
  }
  p {
    display: inline;
  }
  :hover {
    color: #000ff0;
  }
  cursor: pointer;
}
.container__three--comment {
  display: inline;
  font-size: 13px;
  font-family: sans-serif;
  img {
    display: inline;
  }
  p {
    display: inline;
  }
  :hover {
    color: #000ff0;
  }
  cursor: pointer;
}
@media (max-width: 320px) {
  .container__imgtext--name {
    height: 1px;
    padding-left: 4px;
    font-family: sans-serif;
    font-size: 13px;
    cursor: pointer;
  }
  .container__three--comment {
    display: inline;
    font-size: 13px;
    font-family: sans-serif;
    img {
      display: inline;
    }
    p {
      display: none;
    }
    :hover {
      color: #000ff0;
    }
  }
  .reactions {
    display: inline;
    font-size: 13px;
    font-family: sans-serif;
    img {
      display: inline;
    }
    p {
      display: none;
    }
    :hover {
      color: #000ff0;
    }
    cursor: pointer;
  }
  .card-img-top {
    border-radius: 5px;
    margin: auto;

  }
  .container__titleSmall {
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
  }
}
.container__crayons-tag {
  align-items: flex-start;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  :hover {
    color: #000ff0;
  }
}

