*{
    box-sizing: border-box;
    padding: 11px;
    border-radius: 100%;
    
}

.contenedor {
    background-color: #E5E5E5;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: sans-serif;
  }

