  .footer {
      background-color: #E5E5E5;
  }
  .contenedor {
    text-align: center;
    justify-content: center;
    background-color: #E5E5E5;
    align-items: center;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .contenedor__footer--bold {
      font-size: 15px;
  }