* {
  box-sizing: border-box;
  padding: 14px;
  margin: auto;
}

.container_footer {
  text-align: center;
  align-content: center;
  size: 70%;
  background-color: #e5e5e5;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contenedor__footer--bold {
  font-size: 15px;
}
