.navbar{
    background-color: white;
    padding-left: 16%;
    .navbar__ctm--movil{
        display: none;
    }

    .navbar__ctn--img{
        img{
            height: 40px;
            height: 40px;
        }
    }

    .navbar__ctn--input{
        width: 600px;
        input{
            width: 40%;
        }
    }
}

.navbar__ctn--listCTN{
    margin-right: 10%;
}

.ctn--listCTN-button{
    text-align: center;
    font-size: 7px;
    button{
        border-color: rgba(59, 73, 223, 1);
        color: rgba(59, 73, 223, 1);
        &:hover{
            background-color: rgba(59, 73, 223, 1);
            color: white;
        }
    }
}

.ctn--listCTN-bell{
    text-align: left;
}

.ctn--listCTN-profile{
    text-align: left;
}

.mobile-menu{
    display: none;
}

@media (max-width: 480px) {
    .navbar{
        text-align: left;
        .ctn-fluid{
            justify-content:flex-start;
        }
        .navbar__ctm--movil{
            display: contents;
            border: solid black;
        }
    }

    .navbar__ctn--img{
        img{
            height: 40px;
            height: 40px;
        }
    }

    .mobile-menu{
        display: contents;
    }

    .nav__left--top {
        text-align: left;
        padding: 0;

        ul {
            list-style: none;

            li {
                margin: 6%;
            }
        }
    }

    .left--li{
        height: 30px;
        width: 250px;
        &:hover{
            background-color: rgba(59, 73, 223, 0.397);
            border-radius: 5px;
        }
    }

}