/* part of the main*/

.container__imgUser {
    border-radius: 100%;
  
    max-width: 40px;
    max-height: 40px;
  }
  
  .container__two--title {
    margin-left: 25px;
    padding-top: 10px;
  }
  
  .container__crayons-tag {
    padding-left: 20px;
  }
  
  .container__imgtext {
    display: flex;
  }
  .container__imgtext--name {
    height: 2px;
    padding-left: 5px;
    font-weight: bold;
  }
  
  .icons{
  padding-top: 10px;
  }
  
  .btn{
    text-align: right;
    font-size:10px;
  
  }
  .reactions{
  
    display: inline;
    font-size:10px;;
    img{
      display:inline; 
    }
    p{display: inline;}
  }
  
  .comments{
    display: inline;
    font-size:  10px;
    img{
      display:inline; 
    }
    p{display: inline;}
  }
  
  /*Segunda Card*/
  
  