// inicia post card 
*{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
  background-color: white;
}
.aside1{
  background-color: white;
  align-items: center;
  width: 100px;
}
.main__ctn{
  margin-left: 5px;
  background-color: white;
  width: 700px;
}
.main__img{
  width: 650px;
  margin: 5px;}
.aside2{
  background-color: white;
  width: 145px;
  margin-left: 5px;

}
@media (min-width: 319px){
  .aside1{
    display: none;
  }
  .aside2{
    display: none;
  }
  .main__ctn{
    width: 315px;
    margin: 0;
  }
  .main__img{
    width: 290px;
  }

}
@media (min-width: 768px){
  .aside1{
    display: none;
  }
  .aside2{
    display: none;
  }
  .main__ctn{
    width: 700px;
    margin: 0;
  }
  .main__img{
    width: 650px;
  }
}
@media (min-width: 1024px){
  .aside1{
    display: block;
  }
  .aside2{
    display: block;
    text-align: start;
    color: black;
    text-decoration: none;
  }
  .main__ctn{
    width: 700px;
    margin: 0;
  }
  .main__img{
    width: 680px;
  }
  .btn-primary--aside2{
    width: 100px;
    text-align: center;
  }
}

